<div class="contaiiner">
    <div style="height: 100px;"></div>
    <div class="container1">
        <span class="titulo1">
            <span translate="¿NECESITAS ALGO?"></span>
            <br>
            <span translate="CONTÁCTANOS"></span>
        </span>
        <img
            src="assets/new/contacto.png"
            alt
            class="backg"
        >
    </div>
    <div class="container2">
        <span
            class="titulo2"
            translate="Estamos aquí para ayudarte"
        ></span>
        <br>
        <br>
        <span
            class="titulo3"
            translate="Si tienes preguntas, dudas o algún proyecto en mente, no dudes en ponerte en contacto con nosotros."
        ></span>
        <br>
        <br>
        <br>
        <a
            class="titulo3 contacto"
            href="mailto:yang.ye.1@hotmail.com"
        >
            <i class="bi bi-envelope-fill"></i>
            Email Ye Studio
        </a>
        <br>
        <br>
        <br>
        <a
            class="titulo3 contacto"
            href="https://api.whatsapp.com/send?phone=34691737022&text=Hola,%20tengo%20una%20consulta%20de%20proyecto%20para%20YK%20Web%20Studio."
        >
            <i class="bi bi-whatsapp"></i>
            Whatsapp Ye Studio
        </a>
    </div>
</div>
