.titulo {
    font-size: 42px;
    font-weight: 700;
    font-family: Inter;
    color: black;
    position: absolute;
    top: 50%;
    left: 0%;
    padding: 0% 10%;
    transform: translateY(-120px);

    @media only screen and (max-width: 991px) {
        font-size: 36px;
    }

}