img,
header,
label {
    vertical-align: middle;
}

header {
    background-color: #3032a1;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    border: 10px;
}