<header class="navbar navbar-light navbar-expand-lg bd-navbar sticky-top">
    <div class="container">
        <div class="col-2">
            <img src="assets/YK WEB STUDIO.jpg" alt="Logo" width="72" height="60" class="d-inline-block align-text-top">
        </div>
        <div class="col-1"></div>
        <div class="col-1"></div>
        <div class="col-1"></div>
        <div class="col-1"></div>
        <div class="col-1"></div>
        <div class="col-1"></div>
        <div class="col-1">
            <a class="nav-link" href="#"> En const </a>
        </div>
        <div class="col-1">
            <a class="nav-link" href="#"> En const </a>
        </div>
        <div class="col-1">
            <a class="nav-link" href="#"> En const </a>
        </div>
        <div class="col-1">
            <a class="nav-link" href="#"> En const </a>
        </div>
    </div>
</header>