img,
header,
label {
  vertical-align: middle;
}

header {
  background-color: #0e21a0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  border: 10px;
}
