<div class="contaiiner">
    <div style="height: 100px;"></div>
    <span translate="Para obtener más información, contáctenos a través de WhatsApp:"></span>
    <div class="row">
        <h4>
            Yang Ye
            <br>
        </h4>
        <h5 translate="Fundador de Ye Studio, Ingeniero Industrial y Programador Full-Stack.:"></h5>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <a href="https://api.whatsapp.com/send?phone=34691737022&text=Hola,%20tengo%20una%20consulta%20de%20proyecto%20para%20YK%20Web%20Studio.">
                <i class="bi bi-whatsapp"></i>
            </a>
        </div>
        <div class="col">
            <a href="https://www.linkedin.com/in/yang-y-48498815b/">
                <i class="bi bi-linkedin"></i>
            </a>
        </div>
        <div class="col">
            <a href="https://github.com/Hu1a1a/">
                <i class="bi bi-github"></i>
            </a>
        </div>
        <div class="col">
            <a href="mailto:yang.ye.1@hotmail.com">
                <i class="bi bi-envelope-fill"></i>
            </a>
        </div>
    </div>
    <br>
    <div class="row">
        <h4>
            LiZhang Estrella Jin
            <br>
        </h4>
        <h5 translate="Colaborador principal de Ye Studio, Diseñador Gráfico y mente artístico:"></h5>
    </div>
</div>
