nav {
  position: fixed;
  width: 100%;
  z-index: 100000;
  padding: 0;

}

.fakenav {
  background-color: black;
  position: fixed;
  width: 100vw;
  height: 92px;
  opacity: 0.69;
  z-index: 99999;
}

a {
  font-size: 16px;
  font-weight: 700;
  font-family: Inter;
  color: #b3b2b2;
  text-align: center;
  padding: 0;
  cursor: pointer;
  margin: 0;
}



ul {
  width: 100%;
  justify-content: space-evenly;
}

a:hover {
  -webkit-text-fill-color: transparent;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  background-clip: text;
}

.nav-link.active {
  color: #ffffff;
}

li {
  margin: 0px 5px;
}

.dropdown-menu {
  background-color: black;
  opacity: 0.69;

}

@media only screen and (max-width: 991.2px) {
  .navbar-collapse {
    background-color: black;
    padding: 10px;
    border-radius: 0px 0px 10px 10px;
    opacity: 0.69;
    border: none;
  }
}