<div class="col">

    <h4>
        工作室简介
    </h4>
    <br>
    YK工作室是由一批从事一线开发及相关人员创建。立足于西班牙线上线下软件与网页开发,并面向欧洲进行线上软件定制开发。
    <br>
    主营业务：
    <br>
    一.企业软件定制
    网页开发，各种客户需求的网页开发。
    负责前端，后端与全栈开发。
    前端精通使用Angular框架。
    后端精通使用Nodejs框架。
    搭配各种客户需求的服务器(AWS, AZURE, GOOGLE CLOUD)与SQL数据库。
    企业各类业务支撑系统。
    <br> <br>
    二.软件、网络公司，硬件开发团队,研究所软件定制
    偏系统级软件开发,使用ElectronJS框架在多重架构使用,提供专业偏系统级定制开发。
    <br> <br>
    三.你的想法，我们分析、评估、落实。
    你有想法，我们分析评估并结合你自身情况。
    给出你建议、与方案。
    你评估后，我们为你落实。
    <br> <br> <br>
    多年一线从业经验告诉我们：
    1.繁杂的流程让明确的需求变得复杂，即实现与需求有严重脱离。 <br>
    2.过多人员参与不利于质量控制，实践已经证明安排合理小团队比复杂的大团队更高效。 <br>
    3.软件成本过多花费在安排不合理不断返工上。 <br>
    4.软件生命周期（运行周期）重视度极低。 <br>
    <br>
    我们绕过繁杂流程让需求直达实现、减低参与人员节约成本提高软件可控性，灵活主动跟软件生命周期（运行周期）是你强有力的售后保障。
    <br> <br>
</div>