<div class="row">
    <div class="col">
        <br>
        <div class="row text-center">
            <h2>Estudio de Diseño:</h2>
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="col">
                <ul class="list-unstyled">
                    <li class="mb-2">- Diseño Gráfico de Páginas</li>
                    <li class="mb-2">- Programación</li>
                    <li class="mb-2">- Desarrollo Frontend</li>
                    <li class="mb-2">- Desarrollo Backend</li>
                </ul>
            </div>
        </div>
        Adaptamos nuestros servicios a todas las necesidades de nuestros clientes para todo tipo de
        proyectos.
        <br><br>
    </div>
</div> <br>
<div class="row">
    <div class="col text-center">
        <br>
        <h3>Para obtener más información, contáctenos a través de WhatsApp:</h3><br>
        <div class="row">
            <h4>
                Yang Ye <br>
            </h4>
            <h5>
                Fundador de YK Studio, Ingeniero Industrial y Programador Full-Stack.:
            </h5>
        </div>
        <div class="row">
            <div class="col">
                <a
                    href="https://api.whatsapp.com/send?phone=34691737022&text=Hola,%20tengo%20una%20consulta%20de%20proyecto%20para%20YK%20Web%20Studio.">
                    <i class="bi bi-whatsapp"></i>
                </a>
            </div>
            <div class="col">
                <a href="https://www.linkedin.com/in/yang-y-48498815b/">
                    <i class="bi bi-linkedin"></i>
                </a>
            </div>
            <div class="col">
                <a href="https://github.com/Hu1a1a/">
                    <i class="bi bi-github"></i>
                </a>
            </div>
            <div class="col">
                <a href="mailto:yang.ye.1@hotmail.com">
                    <i class="bi bi-envelope-fill"></i>
                </a>
            </div>
        </div>
        <br>
        <div class="row">
            <h4>
                Albert Elkassem <br>
            </h4>
            <h5>
                Colaborador principal de YK Studio, Diseñador Gráfico y mente artístico:
            </h5>
        </div>
        <!--<div class="row">
           <div class="col">
                    <a
                        href="https://api.whatsapp.com/send?phone=34699040463&text=Hola,%20tengo%20una%20consulta%20de%20proyecto%20para%20YK%20Web%20Studio.">
                        <i class="bi bi-whatsapp"></i></a>
                </div>
                <div class="col">
                    <a href="https://www.linkedin.com/in/albert-elkassem-blanco-7459aa113/">
                        <i class="bi bi-linkedin"></i></a>
                </div>
          
        </div>
        <br><br>-->
    </div>
</div>
<br>
<div class="col">
    <br>

    <h4>
        Carta de Presentación
    </h4>
    <br>
    Estimados,
    <br> <br>
    Me dirijo a ustedes como representante de nuestro Estudio de Diseño y Programación de Páginas Web. Mi
    nombre es Yang Ye, Fundador del "YK Web Studio", y también soy un ingeniero industrial con una
    amplia experiencia en diversos sectores industriales, como el alimenticio, metalúrgico y actualmente en
    el sector de la distribución de refrigeración.
    <br> <br>
    Durante mi trayectoria profesional, he desarrollado habilidades para comprender rápidamente las
    especificaciones y necesidades de los clientes, así como para ofrecer diferentes perspectivas que
    contribuyen a mejorar los resultados de los proyectos propuestos.
    <br> <br>
    Actualmente, somos un equipo de dos profesionales independientes: uno especializado en el aspecto
    artístico y otro en el desarrollo de software. Trabajamos en conjunto para ofrecer soluciones integrales
    en el diseño y la programación de páginas web. Nuestro enfoque se divide en dos áreas principales: el
    diseño web y el desarrollo de software.
    <br> <br>
    En cuanto al diseño web, contamos con amplia experiencia en la creación de interfaces atractivas y
    funcionales, utilizando las últimas tendencias de diseño y tecnologías como CSS. Nos aseguramos de que
    cada página web que desarrollamos sea visualmente impactante y, al mismo tiempo, fácil de navegar,
    proporcionando una experiencia de usuario satisfactoria.
    <br> <br>
    En cuanto al desarrollo de software, somos expertos en el desarrollo frontend utilizando Angular y en el
    desarrollo backend utilizando NodeJS. Trabajamos con las mejores prácticas y nos mantenemos actualizados
    con los últimos avances y tecnologías en estas áreas para ofrecer soluciones eficientes y de calidad a
    nuestros clientes.
    <br> <br>
    Nuestro objetivo es brindar soluciones web personalizadas y adaptadas a las necesidades específicas de
    cada proyecto. Nos destacamos por nuestra dedicación, atención al detalle y capacidad para ofrecer
    soluciones innovadoras y funcionales.
    <br> <br>
    Si desean discutir cualquier proyecto o necesitan más información, no duden en ponerse en contacto con
    nosotros. Estaremos encantados de colaborar con ustedes.
    <br> <br>
    Agradeciendo su atención, quedo a su disposición.
    <br> <br>
    Atentamente,
    <br> <br>
    Yang Ye
    <br> <br>
    Fundador de YK Web Studio
    <br> <br>
</div>
<br>
<div class="row">
    <div class="col">
        <br>
        <h3 class="text-center">Proyectos Realizados:</h3>
        <br>
        <!--Copy Part-->
        <a href="https://whyuon.com/"> Why·U·ON. Why are you online? </a>
        <br>
        <img class="urlimg" src="./assets/urlimg/web_01_logo.png">
        <img class="urlimg" src="./assets/urlimg/web_02_letras.png">
        <br><br>
        <a href="https://sandberg-estates.com/"> Sandberg Estates | Luxury Real Estate Agency in Mallorca </a>
        <br>
        <img class="urlimg" src="./assets/urlimg/web-1670074555677-logo-sandberg.jpg">
        <br><br>
        <a href="https://www.wooftools.io/"> WoofTools - Live Trading Crypto Marketplace </a>
        <br>
        <img class="urlimg" src="./assets/urlimg/WoofTools-300x35-1.png">
        <br><br>
        <a href="https://www.viajesmundomania.com/"> Viajes MundoMania: Agencia de Viajes </a>
        <br>
        <img class="urlimg" src="./assets/urlimg/logo-mundomania.png">
        <br><br>
        <a href="http://www.elvestidordesofia.com/"> El vestidor de Sofia </a>
        <br><br>
        <a href="https://hu1a1a.github.io/VillaMarina_Front/"> Villa Marina a 20 metros del mar con piscina privada </a>
        <br>
        <img class="urlimg" src="./assets/urlimg/Villa Marina.png">
        <br><br>
        <a href="https://hu1a1a.github.io/520/"> 520 Gift for my wife Estrella </a>
        <br>
        <img class="urlimg" src="./assets/urlimg/qr.png">
        <!--Copy Part-->

        <br><br>
        Entre otros proyectos conf denciales.
        <br> <br>
    </div>
</div>