.titulo {
    font-size: 42px;
    font-weight: 700;
    font-family: Inter;
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 0%;
    padding: 0% 10%;
    transform: translateY(-120px);
    animation: fadetext 3s;

    @media only screen and (max-width: 991px) {
        font-size: 36px;
    }

}

.background {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: 45%;
}

.flecha {
    position: absolute;
    bottom: 2.5rem;
    left: calc(50% - 35px);
    width: 10%;
    max-width: 70px;
    cursor: pointer;
    -webkit-animation: hide 3s 0s, fadeIn 3s 3s, wiggle1 1.5s 6.5s ease-in infinite;
    animation: hide 3s 0s, fadeIn 3s 3s, wiggle1 1.5s 6.5s ease-in infinite;

    @media only screen and (max-width: 700px) {
        left: calc(50% - 5%);
    }
}

@keyframes fadetext {
    0% {
        transform: translate(-20rem, -120px);
    }



    100% {
        transform: translate(0, -120px);
    }
}

@keyframes hide {
    0% {
        display: none;
    }

    100% {
        display: contents;
    }
}

@keyframes fadeIn {
    0% {
        transform: translateY(-15rem);
    }

    70% {
        transform: translateY(1.5rem)
    }

    85% {
        transform: translateY(-1.5rem);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes wiggle1 {

    0%,
    7% {
        transform: rotateZ(0);

    }

    15% {
        transform: rotateZ(-13deg);
    }

    20% {
        transform: rotateZ(9deg);
    }

    25% {
        transform: rotateZ(-10deg);
    }

    30% {
        transform: rotateZ(7deg);
    }

    35% {
        transform: rotateZ(-2deg);
    }

    40%,
    100% {
        transform: rotateZ(0);
    }
}

.contaiiner {
    overflow-y: scroll;
    height: 100vh;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

.first {
    position: relative;
    scroll-snap-align: center;
    scroll-snap-stop: always;
}

.segon {
    position: relative;
    height: 100vh;
    background-color: black;
    scroll-snap-align: center;
    scroll-snap-stop: always;
}