<div class="contaiiner">
    <div
        class="first"
    >
        <img
            src="assets/new/background.png"
            class="background"
            alt
        >
        <span class="titulo1">
            <span translate="Bienvenido a"></span>
            <br>
            Ye Studio
        </span>
        <img
            (click)="scrollDown()"
            src="assets/new/flecha.png"
            class="flecha"
            alt
        >
    </div>
    <div class="segon">
        <span class="titulo2">
            <span translate="Diferentes servicios,"></span>
            <br>
            <span translate="desarrollos y soluciones TI"></span>
        </span>
        <div class="detalle">
            <div class="row">
                <div class="place">
                    <img
                        src="assets/icono/diseño.png"
                        alt
                        class="icono"
                    >
                    <span
                        translate="Diseño gráfico web"
                        class="textoButton"
                    ></span>
                    <button
                        translate="Más Info."
                        class="buttonInfo"
                    ></button>
                </div>
                <div class="place">
                    <img
                        src="assets/icono/web.png"
                        alt
                        class="icono"
                    >
                    <span
                        translate="Desarrollo web"
                        class="textoButton"
                    ></span>
                    <button
                        translate="Más Info."
                        class="buttonInfo"
                    ></button>
                </div>
                <div class="place">
                    <img
                        src="assets/icono/soft.png"
                        alt
                        class="icono"
                    >
                    <span
                        translate="Desarrollo de software"
                        class="textoButton"
                    ></span>
                    <button
                        translate="Más Info."
                        class="buttonInfo"
                    ></button>
                </div>
                <div class="place">
                    <img
                        src="assets/icono/more.png"
                        alt
                        class="icono"
                    >
                    <span
                        translate="Otros servicios"
                        class="textoButton"
                    ></span>
                    <button
                        translate="Más Info."
                        class="buttonInfo"
                    ></button>
                </div>
            </div>
        </div>
    </div>
</div>
