<div class="container">
    <div class="row">
        <div class="col">
            <br>
            <div class="row text-center">
                <h2>Estudio de Diseño:</h2>
            </div>
            <div class="row">
                <div class="col-2"></div>
                <div class="col">
                    <ul class="list-unstyled">
                        <li class="mb-2">- Diseño Gráfico de Páginas</li>
                        <li class="mb-2">- Programación</li>
                        <li class="mb-2">- Desarrollo Frontend</li>
                        <li class="mb-2">- Desarrollo Backend</li>
                    </ul>
                </div>
            </div>
            Adaptamos nuestros servicios a todas las necesidades de nuestros clientes para todo tipo de
            proyectos.
            <br><br>
        </div>
    </div> <br>
    <div class="row">
        <div class="col text-center">
            <br>
            <h3>Para obtener más información, contáctenos a través de WhatsApp:</h3><br>
            <div class="row">
                <h4>
                    Yang Ye <br>
                </h4>
                <h5>
                    Fundador de YK Studio, Ingeniero Industrial y Programador Full-Stack.:
                </h5>
            </div>
            <div class="row">
                <div class="col">
                    <a
                        href="https://api.whatsapp.com/send?phone=34691737022&text=Hola,%20tengo%20una%20consulta%20de%20proyecto%20para%20YK%20Web%20Studio.">
                        <i class="bi bi-whatsapp"></i>
                    </a>
                </div>
                <div class="col">
                    <a href="https://www.linkedin.com/in/yang-y-48498815b/">
                        <i class="bi bi-linkedin"></i>
                    </a>
                </div>
                <div class="col">
                    <a href="https://github.com/Hu1a1a/">
                        <i class="bi bi-github"></i>
                    </a>
                </div>
                <div class="col">
                    <a href="mailto:yang.ye.1@hotmail.com">
                        <i class="bi bi-envelope-fill"></i>
                    </a>
                </div>
            </div>
            <br>
            <div class="row">
                <h4>
                    Albert Elkassem <br>
                </h4>
                <h5>
                    Colaborador principal de YK Studio, Diseñador Gráfico y mente artístico:
                </h5>
            </div>
            <div class="row">
                <!-- <div class="col">
                        <a
                            href="https://api.whatsapp.com/send?phone=34699040463&text=Hola,%20tengo%20una%20consulta%20de%20proyecto%20para%20YK%20Web%20Studio.">
                            <i class="bi bi-whatsapp"></i></a>
                    </div>
                    <div class="col">
                        <a href="https://www.linkedin.com/in/albert-elkassem-blanco-7459aa113/">
                            <i class="bi bi-linkedin"></i></a>
                    </div>
                -->
            </div>
            <br><br>
        </div>
    </div>
    <br>
    <div class="row">
        <router-outlet></router-outlet>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <br>
            <h3 class="text-center">Proyectos Realizados:</h3>
            <a href="https://sandberg-estates.com/"> Sandberg Estates | Luxury Real Estate Agency in Mallorca </a>
            <br><br>
            <a href="https://www.wooftools.io/"> WoofTools - Live Trading Crypto Marketplace </a>
            <br><br>
            <a href="https://www.viajesmundomania.com/"> Viajes MundoMania: Agencia de Viajes </a>
            <br><br>
            <a href="https://hu1a1a.github.io/VillaMarina_Front/"> Villa Marina a 20 metros del mar con piscina
                privada </a>
            <br><br>
            <a href="https://hu1a1a.github.io/520/"> 520 Gift for my wife Estrella </a>
            <br><br>
            Entre otros proyectos confidenciales.
            <br> <br>
        </div>
    </div>
</div>
<br><br>