<h2>
    Estudio de diseño de pagina web y de programacion de FrontEnd y BackEnd para todas las necesidades del cliente.
</h2>
<br><br>
<h3>
    Para más informacion contacte mediante Whatsapp con:
</h3>
<h4>
    Yang Ye (Ingeniero de Software):
    <a href="https://api.whatsapp.com/send?phone=34691737022&text=Hola,%tengo%una%consulta%para%el%YK%Web%Studio.">
        <i class="bi bi-whatsapp" style="font-size: 50px;color: green;"></i></a>
</h4>
<h4>
    Albert Elkassem (Diseñador gráfico):
    <a href="https://api.whatsapp.com/send?phone=34699040463&text=Hola,%tengo%una%consulta%para%el%YK%Web%Studio.">
        <i class="bi bi-whatsapp" style="font-size: 50px;color: green;"></i></a>
</h4>