<div class="row">
    <div class="col-3"></div>
    <div class="col">
        <div class="row">
            <div class="col-7" style="background-color: purple;border-radius: 30px;">
                <br>
                <div class="row text-center">
                    <h2> Estudio de diseño de:</h2>
                </div>
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col">
                        <ul class="list-unstyled">
                            <li class="mb-2"> - Página gráfico </li>
                            <li class="mb-2"> - Programación </li>
                            <li class="mb-2">- FrontEnd </li>
                            <li class="mb-2"> - BackEnd</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col">
                        Para todo tipo de proyecto adaptando a todas las neceisdades del cliente.
                    </div>
                </div>
                <br>
            </div>
        </div> <br>
        <div class="row">
            <div class="col text-center" style="background-color: purple;border-radius: 30px;">
                <br>
                <h3> Para más informacion contacte mediante Whatsapp con: </h3><br>
                <div class="row">
                    <h4>
                        Yang Ye (Ingeniero de Software): </h4>
                </div>
                <div class="row">
                    <div class="col-3"></div>
                    <div class="col-1">
                        <a
                            href="https://api.whatsapp.com/send?phone=34691737022&text=Hola,%tengo%una%consulta%de%proyecto%para%YK%Web%Studio./">
                            <i class="bi bi-whatsapp"> </i></a>
                    </div>
                    <div class="col-4"></div>
                    <div class="col-1">
                        <a href="https://www.linkedin.com/in/yang-y-48498815b/">
                            <i class="bi bi-linkedin"> </i></a>
                    </div>
                    <div class="col-3"></div>
                </div><br>
                <div class="row">
                    <h4> Albert Elkassem (Diseñador gráfico):</h4>
                </div>
                <div class="row">
                    <div class="col-3"></div>
                    <div class="col-1">
                        <a
                            href="https://api.whatsapp.com/send?phone=34699040463&text=Hola,%tengo%una%consulta%de%proyecto%para%YK%Web%Studio./">
                            <i class="bi bi-whatsapp"> </i></a>
                    </div>
                    <div class="col-4"></div>
                    <div class="col-1">
                        <a href="https://www.linkedin.com/in/albert-elkassem-blanco-7459aa113/">
                            <i class="bi bi-linkedin"></i></a>
                    </div>
                    <div class="col-3"></div>

                </div>
                <br><br>
            </div>
            <div class="col-5"></div>
        </div>
        <br>
        <div class="row">
            <div class="col" style="background-color: purple;border-radius: 30px;">
                <br>
                <h3 class="text-center">Carta de presentación:</h3>
                Buenos días,
                <br>
                Somos un equipo de dos freelance en busqueda de proyecto de diseño y programación de pagina web
                donde uno se encarga de parte de diseño de web y el otro de la parte de programación (FrontEnd
                (Angular y Typescript) y BackEnd (API)).
                <br>
                Con el objetivo de mejorar mis habilidades y de ofrecer soporte informático, estoy en búsqueda de
                proyectos interesantes con relación al software, con mucha gana de trabajar y de aprender y deseando
                desarrollar proyectos con resultado excelente.
                <br>
                Tengo experiencia en proyectos de frontend con Angular y Typescript, proyecto de API con Node,
                Electron y JavaScript, VBA (Excel y Macro), UiPath, SQL (Azure) y en diseño e implementación de
                Plug-in automatizado en Adobe (centrado en InDesign).
                <br>
                <br>
            </div>
            <div class="col-5"></div>
        </div>
    </div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>