img,
footer,
label {
  vertical-align: middle;
}

footer {
  background-color: black;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  border: 10px;
}

* {
  color: white;
  align-content: center;

}

span {
  font-size: 20px;
  font-weight: 700;
  font-family: Inter;
}