img,
footer,
label {
  vertical-align: middle;
}

footer {
  background-color: black;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  border-top: 1px solid white;
}

* {
  color: white;
  align-content: center;
}

span {
  font-size: 20px;
  font-weight: 700;
  font-family: Inter;
}

.nav-item {
  width: 50%;
}

ul {
  display: flex;
  flex-wrap: wrap;
}

a {
  cursor: pointer;
}