img,
footer,
label {
  vertical-align: middle;
}

footer {
  background-color: black;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  border-top: 1px solid white;
  padding: 0;
}

* {
  color: white;
  align-content: center;
}

.nav-item {
  width: 50%;
}

ul {
  display: flex;
  flex-wrap: wrap;
}

a {
  cursor: pointer;
  width: auto;
  text-decoration: none;
}

i {
  font-size: 40px;

}

.gris {
  background-color: #CDCDCD;
  color: black;

  i,
  span {
    color: black;
  }
}

.col,
.row {
  padding: 0;
  --bs-gutter-x: 0
}

.titulo {
  font-size: 26px;
  font-weight: 700;
  font-family: Inter;

}

.texto {
  font-size: 14px;
  font-family: Inter;

}