<body class="permission_denied">
    <div class="denied__wrapper">
        <br><br><br><br>
        <h1>404</h1>
        <h3>LOST IN <span>SPACE</span> App-Name? Hmm, looks like that page doesn't exist.</h3>
        <img id="astronaut1" src="./assets/404/astronaut.svg" />
        <img id="astronaut2" src="./assets/404/astronaut.svg" />
        <img id="astronaut3" src="./assets/404/astronaut.svg" />
        <img id="astronaut4" src="./assets/404/astronaut.svg" />
        <img id="astronaut5" src="./assets/404/astronaut.svg" />
        <img id="planet" src="./assets/404/planet.svg" />
        <a href="#"><button class="denied__link">Go Home</button></a>
    </div>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/tsparticles@2.3.4/tsparticles.bundle.min.js">
    </script>
</body>