@keyframes fadetext {
    0% {
        transform: translateX(-20rem);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes hide {
    0% {
        display: none;
    }

    100% {
        display: contents;
    }
}

@keyframes fadeIn {
    from {
        transform: translateY(-15rem);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes wiggle1 {

    0%,
    7% {
        transform: rotateZ(0);
    }

    15% {
        transform: rotateZ(-13deg);
    }

    20% {
        transform: rotateZ(9deg);
    }

    25% {
        transform: rotateZ(-10deg);
    }

    30% {
        transform: rotateZ(7deg);
    }

    35% {
        transform: rotateZ(-2deg);
    }

    40%,
    100% {
        transform: rotateZ(0);
    }
}

